src/model/XMLDataSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="ApplicationManager">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="area" type="xs:string" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaname" type="xs:string"/>
                            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="event" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="eventname" type="xs:string"/>
                                        <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="dateandtime" type="xs:dateTime"/>
                                        <xs:element name="location" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>