src/model/XMLDataSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="application-manager">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="area" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="area-name" type="xs:string"/>
                            <xs:element name="id" type="xs:integer"/>
                            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="event" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="event-name" type="xs:string"/>
                                        <xs:element name="id" type="xs:integer"/>
                                        <xs:element name="description" type="xs:string"/>
                                        <xs:element name="date-time" type="xs:dateTime"/>
                                        <xs:element name="location" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>